* {
  box-sizing: border-box;
  --background-color: ##ffffff;
  --color-text: #2f3134;
  --color-title-g1: #c4160c;
  --color-secundary-title-g1: #303134;
  --color-g1: #c3170c;
  --color-oglobo: #1e4b9b;
  --color-valor: #006766;
  --color-ge: #07aa47;
  --color-cartola: #e3662b;
  --color-globloplay: #fb0735;
  --color-dropz: #ff75bb;
  --color-gshow: #ec7d00;
  --color-quem: #323333;
  --color-receitas: #a81d83;
  --color-tech: #666666;
  --color-videos: #0769de;
  --border-color: #f5f6f7;
  --color-g1-mobile: #cd150b;
  --color-ge-mobile: #06aa48;
  --color-gshow-mobile: #ff8203;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
a:hover {
  filter: brightness(1.1);
}
header {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 200px;
}
ul {
  width: 1250px;
  min-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}
main {
  max-width: 1250px;
  height: 100%;
  margin: 34px 3.5% 0 3.5%;
  display: flex;
  justify-content: space-between;
}
.logo-mobile {
  display: none;
}
.site {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.g1 {
  color: var(--color-g1);
}
.oglobo {
  color: var(--color-oglobo);
}
.valor {
  color: var(--color-valor);
}
.ge {
  color: var(--color-ge);
}
.cartola {
  color: var(--color-cartola);
}
.globoplay {
  color: var(--color-globloplay);
}
.dropz {
  color: var(--color-dropz);
}
.gshow {
  color: var(--color-gshow);
}
.quem {
  color: var(--color-quem);
}
.receitas {
  color: var(--color-receitas);
}
.tech {
  color: var(--color-tech);
}
.videos {
  color: var(--color-videos);
}
.menu-mobile {
  display: none;
}
.noticias-principais {
  display: flex;
  flex-direction: column;
}
.noticia-principal-g1 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.noticia-principal-titulo {
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: -0.01em;
  color: var(--color-title-g1);
}
.noticias-g1-secundarias {
  margin-bottom: 7px;
  color: var(--color-secundary-title-g1);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.noticias-secundarias-g1 {
  display: flex;
  flex-direction: column;
}
.noticias-g1 {
  margin: 25px 0 36px 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.noticias-secundarias {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}
.noticias-ge,
.noticias-gshow {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.noticia {
  width: 193px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.noticia-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.imagem-noticia {
  width: 100%;
  height: 110px;
  border-radius: 12px;
}
.noticia-chamada {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}
.noticia-titulo {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: var(--color-text);
}
.noticia-subtitulo {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-text);
}
.barra-vertical {
  width: 1px;
  height: 100%;
  background-color: var(--border-color);
  margin: 0 30px;
}
.secundaria {
  width: 240px;
}
.imagem-secundaria {
  height: 128px;
}
.barra-horizontal-mobile {
  display: none;
  width: 100%;
  height: 1px;
  margin: 25px 0px;
  background-color: var(--border-color);
}
@media (max-width: 920px) {
  ul {
    justify-content: space-around;
  }
  main {
    margin: 0;
    padding: 34px 3% 0 3%;
    flex-direction: column;
    align-items: center;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: flex;
  }
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .noticias-secundarias-g1 {
    align-items: center;
  }
  .noticias-g1 {
    width: 100%;
    justify-content: space-between;
  }
  .noticias-secundarias {
    justify-content: space-evenly;
    margin-bottom: 3%;
  }
  .noticias-ge,
  .noticias-gshow {
    align-items: center;
  }
  .noticia {
    max-width: 350px;
  }
  .secundaria {
    width: 293px;
  }
  .mobile {
    display: none;
  }
  .barra-horizontal-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
  main img {
    max-width: 120px;
    max-height: 67px;
  }
  main {
    width: 100%;
    padding-top: 16px;
  }
  .noticia-principal-titulo,
  .noticias-g1-secundarias {
    color: var(--color-g1-mobile);
  }
  .noticias-g1,
  .noticias-secundarias {
    flex-direction: column;
  }
  .noticias-g1,
  .noticias-ge,
  .noticias-gshow {
    margin: 0;
    gap: 0;
  }
  .noticias-principais .noticia-titulo,
  .noticias-principais .noticia-subtitulo {
    color: var(--color-g1-mobile);
  }
  .noticias-ge .noticia-titulo,
  .noticias-ge .noticia-subtitulo {
    color: var(--color-ge-mobile);
  }
  .noticias-gshow .noticia-titulo,
  .noticias-gshow .noticia-subtitulo {
    color: var(--color-gshow-mobile);
  }
  .noticia-principal-g1 {
    margin: 0;
    gap: 15px;
  }
  .noticia-principal-titulo {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.028em;
  }
  .noticias-g1-secundarias {
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.068em;
  }
  .noticia {
    width: 100%;
    padding: 22px 0 10px 0;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
  }
  .noticia-box {
    flex-direction: row;
  }
  .noticia-titulo {
    font-size: 18px;
    line-height: 22px;
  }
  .noticia-chamada,
  .barra-horizontal-mobile {
    display: none;
  }
}
